* {
	font-family: 'Open Sans', sans-serif;
	resize: none;
}

html, body {
	/*overflow: auto;*/
}

body {
	//background: #f1f2f3;
	background: url(../img/pattern-2fn0.png) repeat;
}

.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}

.transitions {
	-webkit-transition:	all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	-o-transition:		all 0.3s ease;
	-ms-transition:		all 0.3s ease;
	transition:			all 0.3s ease;
}

.space {
	display: inline-block;
	width: 10px;
	height: 1px;
}
.line-space {
	display: block;	
	height: 5px;
}

.dump-level {
	display: none;
}

.alert-other {
	color: #9442A9;
	background-color: #E8DEF2;
	border-color: #E0CCEB;
}
/********** Menu **********/
.dropdown-menu-zero {
	left: 180px;
	top: 0;
}
.dropdown>a>.fa-caret-right {
	padding-top: .2em;
}
.dropdown.open {

}
.dropdown.open>a {
	font-weight: bold;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu > a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#777;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu.active-sub > a {
	font-weight: bold;
}
/*.dropdown-submenu.active > a:after {
    border-left-color:#fff;
}*/
.dropdown-submenu .pull-left {
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
@media (max-width: 767px) {
	.dropdown-menu li {
		border-left: 1px solid #ccc;
		margin-left: 20px
	}
	.dropdown-submenu.active > a:after {
		border-left-color:#777;
	}
}

#menu-lateral {
	border-right: 1px solid #eee;
	display: inline-block;
	width: 200px;
	vertical-align: top;
}
#menu-lateral .menu-itens {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu-lateral .menu-itens>li {
	display: block;
	padding: 5px;
}
#menu-lateral .menu-itens>li>a {
	display: block;
	color: #666;
	text-decoration: none;
}
#menu-lateral .menu-itens>li>a:hover {
	color: black;
}
#menu-lateral .menu-itens>li.active {
	font-weight: bold;
}


#corpo {
	display: inline-block;
}

/********** Login **********/
#login {
	max-width: 500px;
	margin: 30px auto;
}

/********** Componentes **********/
/***** File Upload *****/
.file-component {
	overflow: hidden;
}
.file-component-input:hover + button {
	background: #ebebeb;
}
.file-component-input {
	position: absolute;
	top: -20px;
	right: -20px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 500px;
	padding: 50px;
	width: 500px;
	z-index: 1000;

	cursor: pointer;

	background: orange;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=0.01);
	-moz-opacity: 0.01;
	-khtml-opacity: 0.01;
	opacity: 0.01;
}
.file-component-input {
	z-index: 1;
}
.tooltip-inner {
    white-space:pre-wrap; //Possibilidade de quebra de linha no tooltip
}
/********** Corpo **********/

/*Alinhamento dos elementos dentro do TD*/
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: inherit;
}

label.required:after {
	content:" *";
	color: red;
	font-weight: normal;
}

label.normal{
    color: #000;
    font-weight: normal;
}


label.error:before {
	content:"* ";
}
label.error {
	color: #DA2623;
	font-weight: normal;
	font-style: italic;
	font-size: 12px;
	padding-top: 4px;
}

.destaque-campos {
	background: #fafafa;
	padding-top: 15px;
	padding-bottom: 15px
}

.destaque-controles {
	background: #f5f5f5;
	padding-top: 15px;
	padding-bottom: 15px;
}

/********** Dashboard **********/
.big-box {
	background-color: #44b6ae;
	height: 150px;
	overflow: hidden;
}
.big-box-icon {
	padding: 5px;
	color: #71ccc6;
	font-size: 8em;
}
.big-box-footer {
	background-color: #519b96;
	width: 100%;
	height: 30px;
	font-size: 20px;
	text-align: right;
	padding-right: 8px
}


.display-none {
	display: none;
}

/********** Relatório Lista **********/
.box-relatorio-2, .box-relatorio-4, .box-relatorio-6 {
	padding: 10px;
	margin-bottom: 10px;
}
.box-relatorio-2 { background-color: #eaf1f7; border: 1px solid  #99c8d7; }
.box-relatorio-4 { background-color: #f7eaea; border: 1px solid  #d79999; }
.box-relatorio-6 { background-color: #f7f6ea; border: 1px solid  #bab57d; }

.box-relatorio-2 .fa, .box-relatorio-4 .fa, .box-relatorio-6 .fa {
	vertical-align: top;
	display: inline-block;
	width: 75px;
	text-align: center;
	line-height: 100px;
}
.box-relatorio-2 .fa { color: #99c8d7; }
.box-relatorio-4 .fa { color: #d79999; }
.box-relatorio-6 .fa { color: #bab57d; }

.box-relatorio-primeiro {
	display: inline-block;
	padding-right: 20px;
}

.box-relatorio-primeiro .box-relatorio-titulo {
	vertical-align: top;
	display: inline-block;
	font-size: 30px;
	font-weight: lighter;
	line-height: 100px;
}
.box-relatorio-2 .box-relatorio-primeiro .box-relatorio-titulo, .box-relatorio-2 .box-relatorio-subsequente .box-relatorio-titulo, .box-relatorio-2 .box-relatorio-subsequente .box-relatorio-destaque { color: #99c8d7; }
.box-relatorio-4 .box-relatorio-primeiro .box-relatorio-titulo, .box-relatorio-4 .box-relatorio-subsequente .box-relatorio-titulo, .box-relatorio-4 .box-relatorio-subsequente .box-relatorio-destaque { color: #d79999; }
.box-relatorio-6 .box-relatorio-primeiro .box-relatorio-titulo, .box-relatorio-6 .box-relatorio-subsequente .box-relatorio-titulo, .box-relatorio-6 .box-relatorio-subsequente .box-relatorio-destaque { color: #bab57d; }

.box-relatorio-subsequente {
	vertical-align: top;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

.box-relatorio-subsequente .box-relatorio-titulo {
	vertical-align: top;
	display: inline-block;
	font-size: 30px;
	font-weight: lighter;
	line-height: 100px;
}

.box-relatorio-subsequente .box-relatorio-destaque {
	vertical-align: top;
	display: inline-block;
	font-size: 50px;
	font-weight: bold;	
	line-height: 100px;
	padding-left: 20px;
}

.box-relatorio-2 .box-relatorio-subsequente { border-left: 1px dotted #99c8d7; }
.box-relatorio-4 .box-relatorio-subsequente { border-left: 1px dotted #d79999; }
.box-relatorio-6 .box-relatorio-subsequente { border-left: 1px dotted #bab57d; }