@import "util";

*:not(.fa):not(.glyphicon) {
  font-family: 'Open Sans', sans-serif;
  resize: none;
}

body {
  background: rgba(142, 142, 142, 0.16) url(../img/upNdown.png) repeat;
}

.no-border {
  border: transparent;
}

.navbar-top {
  background-color: #fff;
  margin-bottom: 0;
  border-radius: 0;
  .logo-sadpreai {
    margin: 15px 20px 15px 60px;
    width: 180px;
  }
}
.subnav {
  border-radius: 0;
  border: 0px solid rgba(8, 8, 8, 0.14);
  background-color: #00A858;
  .navbar-nav {
    li {
      a {
        color: white;
        &:hover, &:focus {
          color: #fff;
          text-decoration: none;
          outline: 0;
          background-color: rgba(82, 82, 82, 0.14);
        }
      }
    }
  }
}

.tabela-ultimas-medicoes {
  .tr-medicoes {
    td {
      &.medicao-estacao {
        max-width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.medicao-cidade {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      a {
        color: #000;
        &:hover, &:focus {
          color: rgba(72, 84, 82, 0.55);
          text-decoration: none;
          outline: 0;
          /*background-color: rgba(82, 82, 82, 0.14);*/
        }
      }



    }

  }
}
#login {
  max-width: 500px;
  margin: 30px auto;
}

.footer {
  .text-muted {
    padding: 15px;
  }
  background-color: #f5f5f5;
}

#navbar {
  border-radius: 0;
  .btn {
    margin: 0;
  }
}

.dropdown-menu {
  .active {
    a {
      &:hover, &:focus {
        color: #fff;
        text-decoration: none;
        outline: 0;
        background-color: rgba(82, 82, 82, 0.5);
      }
      color: #fff;
      text-decoration: none;
      outline: 0;
      background-color: rgba(82, 82, 82, 0.28);
    }
  }
}

.destaque-controles {
  padding: 15px 0;
  background: #f3f3f3;
}

.panel {
  border: 1px solid rgba(8, 8, 8, 0.14);
  border-radius: 0;
  .panel-heading {
    border-radius: 0;
  }
  .panel-body {
    border-radius: 0;
  }
}

.div-media-principal {
  h4 {
    text-align: center;
    padding-bottom: 15px;
  }
  .select-image {
    cursor: pointer;
    margin-bottom: 10px;
  }
}

/***** Left Window *****/
.left-window {
  position: absolute;
  z-index: 10;
  top: 64px;
  left: 0;
  bottom: 4px;
  width: 500px;
  background-color: #f9f9f9;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  .box-shadow(1px 0px 2px rgba(0, 0, 0, 0.3));
  opacity: 0;
  display: none;

  .left-window-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 8px;
    cursor: pointer;
  }
}

.abrir-mapa {
  position: absolute;
  z-index: 9;
  top: 47%;
  cursor: pointer;
  left: -2px;
  .border-radiuses(3px, 3px, 0, 0);
  .drop-shadow();
  background-color: #f0f0f0;
  padding: 8px 5px 5px 5px;
}

/***** File Upload *****/
.file-component {
  overflow: hidden;
}

.file-component-input:hover + button {
  background: #ebebeb;
}

.file-component-input {
  position: absolute;
  top: -20px;
  right: -20px;
  font-family: Arial, Verdana, sans-serif;
  font-size: 500px;
  padding: 50px;
  width: 500px;
  z-index: 1000;

  cursor: pointer;

  background: orange;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: ~"alpha(opacity=0.01)";
  -moz-opacity: 0.01;
  -khtml-opacity: 0.01;
  opacity: 0.01;
}

.file-component-input {
  z-index: 1;
}

.tooltip-inner {
  white-space: pre-wrap; //Possibilidade de quebra de linha no tooltip
}

.startup {
  top: 52px; /* making preloader cover all screen */
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  /*    width: 100%;
      height: 100%;*/
  background-color: #dfdfdf;
  -moz-user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-container {
  animation: rotate 2s linear infinite;
  -webkit-animation: rotate 2s linear infinite;
}

.spinner-container .path {
  stroke-dasharray: 1, 150;
  /* 1%, 101% circumference */

  stroke-dashoffset: 0;
  stroke: rgba(27, 154, 89, 0.7);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
  -webkit-animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    /* 1%, 101% circumference */

    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    /* 70%, 101% circumference */

    stroke-dashoffset: -35;
    /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90, 150;
    /* 70%, 101% circumference */

    stroke-dashoffset: -124;
    /* -99% circumference */
  }
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    /* 1%, 101% circumference */

    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    /* 70%, 101% circumference */

    stroke-dashoffset: -35;
    /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90, 150;
    /* 70%, 101% circumference */

    stroke-dashoffset: -124;
    /* -99% circumference */
  }
}

.app-wrapper {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: auto;
  }

  .app-wrapper {
    width: 600px;
  }
}

.dashboard {

}

.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}